.mainSection {
  margin: 1%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.rowNormal {
  display: flex;
  justify-content: start;
}

.table {
  margin-top: 1%;
  margin-left: 1%;
  width: 100%;
}

.tableCellMui {
  padding: 8px !important;
}

.rowItem {
  width: 18%;
  margin-bottom: 1.5%;
  align-content: center;
}

.legendText {
  color: #95775d;
  width: 15%;
  border-bottom: 1px solid;
}

.rowItemInput {
  display: flex;
  margin-top: 1%;
  border: 1px solid;
  border-color: #ced4da;
  border-radius: 5px;
  padding: 2%;
  width: 100%;
  height: 25px;
}

.orderTypeButton {
  border: 0px solid;
  margin-right: 5%;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 5px;
}

.orderTypeButtonSelected {
  background-color: #00abe4;
  border: 2px solid;
  border-color: green;
  border-radius: 5px;
  margin-right: 5%;
  padding-left: 3%;
  padding-right: 3%;
  color: white;
  font-weight: bold;
}

.sellButton {
  display: flex;
  justify-content: right;
}

.rowItemDropdown {
  display: flex;
  margin-top: 1%;
  border: 1px solid;
  border-color: #ced4da;
  border-radius: 5px;
  padding: 2%;
  width: 100%;
}
